<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SqlKata Api</title>
</head>
<body>

    <div>
    You are now running a Fast Web Api application, using Asp.Net core and <a href="https://github.com/sqlkata/querybuilder">SqlKata</a> for database access.

Check out theses APIs:

- GET http://localhost:5000/api/posts
- POST http://localhost:5000/api/posts
- PUT http://localhost:5000/api/posts
- DEL http://localhost:5000/api/posts/1
</div>
</body>
</html>